<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>5041245C-771D-4638-C821-4836CFD0CE66</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
